/* body {
  padding: 0;
  margin: 0;
  background: #222;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  cursor: '';
}

.cursor{
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
} */

@keyframes colors {
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }

}

p {
  color: white;
  font-size: 20px;
  font-weight: 100;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* .port-page {
  overflow: scroll;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 10px 10px;
  grid-template-columns: auto auto;
  width: 100vw;
  height: 100vh;
  background: rgb(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
} */

.port-page::-webkit-scrollbar {
    display: none;
  }
  
.port-page {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

i {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  pointer-events: none;
  animation: animate 2s linear forwards;
  z-index: -1;
}

@keyframes animate {
  0% {
    opacity: 1;
    transform: translate(0, 0);
    background: linear-gradient(to right, #3f9bc9, #d32d2d);
  }
  35% {
    background: linear-gradient(to right, #0d4fca, #ec0707);
  }
  60% {
    background: linear-gradient(to right, #1e08df, #ec7709);
  }
  85% {
    background: linear-gradient(to right, #0c09d3, #e2c209);
  }
  100% {
    opacity: 0;
    transform: translate(var(--x), var(--y));
  }
}

.block{
    width: 50%;
    height: 500px;
    background: transparent;
    border: 1px solid white;
    margin: 4rem 0px;
    animation: appear linear;
    animation-timeline:view();
    animation-range: entry 0 cover 40%;
 }

 .block1{
    width: 50%;
    height: 500px;
    background: transparent;
    margin: 4rem 0px;
    border: 1px solid white;

    animation: appear1 linear;
    animation-timeline:view();
    animation-range: entry 0 cover 40%;
 }

@keyframes appear {
    from{
        opacity: 0;
        scale: 0.5;
        transform: translateX(-400px);
    }
    to{
        opacity: 1;
        scale: 1;
        transform: translateX(0);
    }
}

@keyframes appear1 {
    from{
        opacity: 0;
        scale: 0.5;
        transform: translateX(400px);
    }
    to{
        opacity: 1;
        scale: 1;
        transform: translateX(0);
    }
}
